# SPDX-FileCopyrightText: 2026 Arkadiusz Bokowy and contributors
# SPDX-License-Identifier: MIT
---
Checks:
  boost-*,
  modernize-*,
  performance-*,
  portability-*,
  -portability-avoid-pragma-once,
  -portability-template-virtual-member-function,
HeaderFilterRegex: .*
